.App {
  text-align: center;
  background-color: #277e44be;
  min-height: 100vh;
}

.App-header {
  background-color: #277e44be;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}


